package handlers

import "golang.org/x/crypto/argon2"

// HashPassword is the @fn.hash_password binding declared in account.lzi.
// Argon2id with canonical parameters (4 mem cost, 1 time cost, 32 keylen).
func HashPassword(password, salt []byte) []byte {
    return argon2.IDKey(password, salt, 1, 64*1024, 4, 32)
}
