[project]
name = "{{app_name}}"
module = "{{module}}"
schema = 1

[lazuli]
runtime = "0.1.0"

[lazurite]
template = "lazurite-default"
template_version = "0.1.0"
app_dir = "app"

[generate.go]
out = "dist/go"
gofmt = true
strict = true
emit_main = true
submodule = true

[migrations]
generated = "dist/go/migrations"
manual = "migrations"
strategy = "auto"

[seeds]
dir = "seeds"
auto = false
